:root
{
    --dannmacolor: rgb(103, 199, 255);
    --grey1: rgb(147, 147, 147);
    --dark: #000000;
    --white: #ffffff;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;

}

body
{
    min-width: 320px;
    background: var(--dark);
    color: var(--white);
    font-family: 'Helvetica', sans-serif;
}

h1
{
    font-size: 40px;
    font-weight: 700;
}
h2
{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 14px;
}
dannmacode
{
    color: var(--dannmacolor);
}

/* header */
.nav-container
{
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 48px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
}
.nav-container img
{
    width: 24px;
    height: 24px;
    border-radius: 50px;
}
.nav-links
{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.nav-links a
{
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
    padding: 0 20px;
}

/* menu mobile */
.menu-button
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: none;
}
.menu-button-burger
{
    width: 24px;
    height: 2px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
}
.menu-button-burger::before,
.menu-button-burger::after
{
    content: ' ';
    position: absolute;
    width: 24px;
    height: 2px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
}
.menu-button-burger::before
{
    transform: translateY(8px);
}
.menu-button-burger::after
{
    transform: translateY(-8px);
}

/* animation */
.menu-button.open .menu-button-burger
{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-button.open .menu-button-burger::before
{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-button.open .menu-button-burger::after
{
    transform: rotate(-45deg) translate(35px, 35px);
}

/* main */
.main-section
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
}

/* cover */
.background-cover-section
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.412), rgb(0, 0, 0));
    align-items: center;
}
.cover-section
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../assets/cover-images/wallpaper001.png");
    background-size: cover;
    background-position: bottom;
    align-items: center;
}
.info-container
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 100px 0 58px;
    justify-content: center;
}
.info-cover
{
    display: flex;
    flex-direction: column;
}
.info-cover p
{
    padding: 8px 0 10px;
    font-size: 16px;
}
.info-cover span
{
    font-size: 12px;
    font-weight: 100;
}
.info-cover a
{
    display: flex;
    width: 180px;
    height: 40px;
    margin-top: 20px;
    padding-bottom: 2.4px;
    border: 2px solid var(--white);
    border-radius: 6px;
    background: none;
    font-size: 14px;
    color: var(--white);
    font-weight: 600;
    align-items: center;
    justify-content: center;

}

/* general */
.general-sections
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.section-container
{
    width: 90%;
    height: auto;
    padding-top: 20px;
}
.section-container p
{
    font-size: 16px;
    line-height: 20px;
}
.section-container .section-title
{
    font-size: 20px;
    font-weight: 700;
    color: var(--grey1);
    margin-bottom: 26px;
}

/* article blog */

.article-blog
{
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background-color: #131313;
    border-radius: 10px 8px 8px 10px;
}
.article-blog-cover
{
    width: 300px;
    height: 230px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}
.article-blog-info-container
{
    display: flex;
    width: 100%;
}
.article-blog-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 14px 20px 20px 20px;
    width: 100%;
    height: auto;
    border-radius: 0 8px 8px 0;
}
.interactive-data
{
    display: flex;
    width: auto;
    align-items: center;
    /* margin-top: 14px; */
    justify-content: space-between;
}
.autor-data
{
    display: flex;
    width: 30%;
    align-items: center;
    margin-top: 14px;
    min-width: 190px;
}
.article-data img
{
    margin-right: 10px;
}
.name-date
{
    display: flex;
    flex-direction: column;
}
.name-date span:nth-child(1)
{
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 4px;
}
.primary-buttons-article
{
    display: flex;
    width: 70%;
}
.primary-buttons-article a
{
    display: flex;
    width: 40%;
    min-width: 64px;
    height: 40px;
    margin: 20px 0 0 auto;
    padding: 0 20px 2.4px 20px;
    border-radius: 6px;
    background: var(--white);
    font-size: 14px;
    color: var(--dark);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.primary-buttons-article a:nth-child(2)
{
    margin-left: 20px;
    border: 2px solid var(--white);
    background: transparent;
    color: var(--white);
}


/* article project */
.pinned-projects
{
    display: flex;
}
.pinned-projects article:nth-child(2)
{
    margin: 0 20px;
}

.article-project
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #131313;
    border-radius: 10px 8px 8px 10px;
}
.article-project-cover
{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.article-project-info-container
{
    display: flex;
    width: 100%;
}
.article-project-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 14px 20px 20px 20px;
    width: 100%;
    height: auto;
    border-radius: 0 8px 8px 0;
}


.interactive-data
{
    display: flex;
    width: auto;
    align-items: center;
    /* margin-top: 14px; */
    justify-content: space-between;
}
.autor-data
{
    display: flex;
    width: 30%;
    align-items: center;
    margin-top: 14px;
    min-width: 190px;
}
.article-data img
{
    margin-right: 10px;
}


.name-date
{
    display: flex;
    flex-direction: column;
}
.name-date span:nth-child(1)
{
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 4px;
}


.secondary-buttons-article
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.secondary-buttons-article a
{
    display: flex;
    width: 50%;
    min-width: 64px;
    height: 40px;
    margin: 20px 0 0 0;
    padding: 0 20px 2.4px 20px;
    border-radius: 6px;
    background: var(--white);
    font-size: 14px;
    color: var(--dark);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.secondary-buttons-article a:nth-child(2)
{
    margin-left: 20px;
    border: 2px solid var(--white);
    background: transparent;
    color: var(--white);
}


/* footer */
.footer-container
{
    display: flex;
    align-self: center;
    justify-content: center;

}
.footer-area
{
    width: 90%;
    /* min-width: 320px; */
    height: auto;
    background-image: url("../assets/cover-images/wallpaper001.png");
    background-size: cover;
    background-position: bottom;
    align-items: center;
    border-radius: 10px 10px 0 0;
    margin-top: 30px;
}
.footer-background
{
    width: 100%;
    /* min-width: 320px; */
    height: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.713), rgb(0, 0, 0));
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: bottom;
    align-items: center;
    border-radius: 8px 8px 0 0;
    padding: 20px 20px;
}
.footer-links
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.footer-links img
{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.footer-info
{
    display: flex;
}
.footer-info a
{
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px;
    text-decoration: none;
    color: var(--white);
}

@media only screen and (max-width: 860px)
{
    h1
    {
        font-size: 40px;
        font-weight: 700;
    }
    h2
    {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 14px;
    }

    .nav-links
    {
        display: none;
    }

    .section-container p
    {
        font-size: 14px;
        line-height: 20px;
    }   

    .article-blog,
    .article-project
    {
        flex-direction: column;
    }
    .article-blog-cover,
    .article-project-cover
    {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
    .interactive-data
    {
        flex-direction: column;
        align-items: unset;
    }
    .article-data
    {
        width: 100%;
    }
    .primary-buttons-article,
    .secondary-buttons-article
    {
        justify-content: space-between;
        width: 100%;
    }
    .primary-buttons-article a,
    .secondary-buttons-article a
    {
        width: 50%;
        margin: 20px 0 0 0;
    }

    .pinned-projects
    {
        flex-direction: column;
    }
    .pinned-projects article:nth-child(2)
    {
        margin: 30px 0;
    }
    

    .footer-links
    {
        justify-content: space-between;
    }
    .footer-info
    {
        flex-direction: column;
        text-align: right;
    }
    .footer-info a
    {
        margin: 10px 0;
        padding: 0;
    }
}

@media only screen and (min-width: 860px)
{
    .menu-button
    {
        display: none;
    }
}